# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.cordova/
.settings/
.idea/
*.iml
.project
node_modules/
platforms/
plugins/
resources/android/
resources/*icon.*
www/lib/